apiVersion: apps/v1
kind: Deployment
metadata:
  name: rriv-api
spec:
  template:
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject-secret-credentials.txt: "secret/data/staging-rriv-api-creds"
        vault.hashicorp.com/agent-inject-template-credentials: |
          {{ with secret "secret/data/staging-rriv-api-creds" }}
          export DATABASE_URL="{{ .Data.data.database_url }}"
          export KEYCLOAK_CLIENT_SECRET="{{ .Data.data.keycloak_client_secret }}"
          {{ end }} 
    spec:
      containers:
        - name: rriv-api
          env:
            - name: KEYCLOAK_URL
              value: https://auth.staging.rriv.org
            - name: KEYCLOAK_REALM
              value: rriv-beta-staging
