apiVersion: apps/v1
kind: Deployment
metadata:
  name: rriv-api
spec:
  template:
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject-secret-credentials.txt: "secret/data/prod-rriv-api-creds"
        vault.hashicorp.com/agent-inject-template-credentials: |
          {{ with secret "secret/data/prod-rriv-api-creds" }}
          export DATABASE_URL="{{ .Data.data.database_url }}"
          export KEYCLOAK_CLIENT_SECRET="{{ .Data.data.keycloak_client_secret }}"
          export CHIRPSTACK_API_KEY="{{ .Data.data.chirpstack_downlink_key }}"
          {{ end }}
    spec:
      containers:
        - name: rriv-api
          env:
            - name: KEYCLOAK_URL
              value: https://auth.rriv.org
            - name: KEYCLOAK_REALM
              value: rriv-beta-prod
            - name: CHIRPSTACK_API_URL
              value: http://134.199.180.18
